/* --- general start --- */
h1 {
	font-size: 30px !important;
	font-weight: bold !important;
	line-height: 40px !important;
}

.page-margin {
	position: relative;
	top: 45px;
	margin-bottom: 10px !important;
	margin-right: 10px !important;
	margin-left: 10px !important;
}

.container {
	position: absolute;
	padding-right: 0px;
	padding-left: 0px;
}

body {
background-color:#F0F0F0;
}
/* --- maintenance start --- */

.float.affix{
        top: 20px; /* Set the top position of pinned element */
    }
	
@media screen and (max-width: 810px) {
    #moveRecord  {
      margin-left: 5px;	
    }
  }

.navbar {
margin-bottom: 0px;
}

.admin-header {
	color: #808080;	
}

.admin-header-selected {
	color: #404040;	
}

.major-filter-panel {
	 border-bottom: solid #E0E0E0;
	 padding-bottom: 10px;
	 padding-top: 20px;
	 background-color: white;
}

.filter-detail-panel {	
	 padding-bottom: 1px;
	 background-color: white;
}

.main-body {
	background-color: #F0F0F0;
	padding-top: 10px;
	height: auto;
}

.record-list-panel {
	background-color:white;
	margin-bottom:20px;
	margin-right:35px;
	min-width:735px;
}

/*buttom

*/


.button {
  display: inline-block;
  height: 40px;
  width: 175px;
  line-height: 40px;
  padding: 0px 45px 0px 55px;
  position: relative;
  color:white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight:bold;
}

.button span {
  position: absolute;
  left: 0;
  width: 50px ;
  text-align: center;
  font-size: 30px;
}
.button:link{
text-decoration: none;
}
.button:visited {
text-decoration: none;
}
.button:hover {
text-decoration: none;
}
.button:active {
text-decoration: none;
}

.button.grey {
  background: white;
  color:#A9A9A9;
  border-bottom: solid #A9A9A9;
}

.button.grey.active {
  color:white;
  background: #DCDCDC;
  border-bottom: solid #A9A9A9;
}

.button.grey.active span {
  color:white;
  background: #A9A9A9; 
}

.button.blue {
  background: white;
  color:#1E90FF;
  border-bottom: solid #1E90FF;
}

.button.blue.active {
  color:white;
  background: #00008B;
  border-bottom: solid #1E90FF;
}

.button.blue.active span {
  color:white;
  background: #1E90FF;
}

.button.red {
  background: white;
  color:#FFB6C1;
  border-bottom: solid #FFB6C1;
}

.button.red.active {
  color:white;
  background: #FF4500;
  border-bottom: solid #FFB6C1;
}

.button.red.active span {
  color:white;
  background: #FFB6C1;
}

.button.green {
  background: white;
  color:#32CD32;
  border-bottom: solid #32CD32;
}

.button.green.active {
   color:white;
  background: #006400;
  border-bottom: solid #32CD32;
}
.button.green.active span {
   color:white;
  background: #32CD32;
}

.button.yellow {
  background: white;
  color:#FFD700;
  border-bottom: solid #FFD700;
}


.button.yellow.active {
  color:white;
  background: #DAA520;
  border-bottom: solid #FFD700;
}
.button.yellow.active span{
  color:white;
  background: #FFD700;
}

.button.orange {
  background: white;
  color:#FF8C00;
  border-bottom: solid #FF8C00;
}


.button.orange.active {
  color:white;
  background: #FF6347;
  border-bottom: solid #FF8C00;
}

.button.orange.active span {
  color:white;
  background: #FF8C00;
}

.button.purple {
  background: white;
  color:#9370DB;
  border-bottom: solid #9370DB;
}


.button.purple.active {
  color:white;
  background: #6A5ACD;
  border-bottom: solid #9370DB;
}

.button.purple.active span {
  color:white;
  background: #9370DB;
}

/* new ipo icon*/
.glyphicon {
	right:12px;
}


#filter-detail-panel #filterChosen  {
	position:relative;
	display: block;
	padding:15px 15px;
}
#filter-detail-panel #filterChosen span  {
	font-weight:bold;
}

#floating-panel #sort-by {
	position:relative;
	display: block;
	padding:15px 15px;
	
}

#floating-panel .floating-panel-table th {
 border: 1px solid #F0F0F0;
 padding:0 0 0 10px;
 color: #1E90FF;
 text-align: left;

}
#floating-panel .floating-panel-table td {
 border: 1px solid #F0F0F0;
 padding:0 0 0 10px;
}

/*record-panel*/
#record-format #name {
color: #4169E1;
padding-left:20px;
padding-top:10px;
font-size:24px;
font-weight: bold;
}

#record-format #ipoId {
color: #A9A9A9;
padding-left:20px;
}

#record-format #financing-mode {
background-color: #FFD700;
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
color: #6A5ACD;
font-weight: bold;
}

#record-format #ipo-status {
padding-left:20px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
color: white;
font-weight: bold;

}

#record-format #ipo-status-unit {
padding-top:5px;
padding-bottom:5px;
padding-right:20px;
color: white;
font-weight: bold;

}

#record-format #mode-table {
margin-bottom:10px
}

#record-format #offer-price {
font-weight: bold;
font-size:24px;
}

#record-format #offer-price-range {
color: #A9A9A9;
padding-left:20px;
}

#record-format #admin-status {
font-weight: bold;
vertical-align: bottom;
padding-left:20px;
font-size:20px;
}
#record-format #last-modify-by {
color: #A9A9A9;
}
#record-format #last-modify-time {
color: #A9A9A9;
}

#record-format #last-modify-by  span {
color: black;
font-weight: bold;
font-size:18px;
}
#record-format #last-modify-time span {
color: black;
font-weight: bold;
font-size:18px;
}

#record-format #period  {
color: #A9A9A9;
text-align: right;
font-size:16px;
}

#record-format #period-time {
color: #A9A9A9;
}

#record-format #period-time span {
color: black;
font-weight: bold;
font-size:16px;
}

#options {
background-color:white;
}

#topOfPage{
color: #1E90FF;
font-weight: bold;
margin-left: 15px;
position:absolute;
bottom: -30px;
}




/* creatIPO  add css */
.fa-clock-o {
   right: 150px;

}
.btn-ribbon{
	color: #fff;
	background-color:#FD9999;
	border-color: #FD9999;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;    
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;    
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;   
    -moz-user-select: none;
    -ms-user-select: none;
    
}
.btn-ryellow{
	color: #fff;
	background-color:#FFC125;
	border-color: #FFC125;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;    
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;    
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;   
    -moz-user-select: none;
    -ms-user-select: none;
    
}
.breadcrumb>li+li:before{
	padding: 0 5px;
    color: #ccc;    
	content: ">";
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #3399CB !important;
    font-style:italic;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #3399CB !important;
   opacity:  1;
   font-style:italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #3399CB !important;
   opacity:  1;
   font-style:italic;   
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #3399CB !important;
   font-style:italic;   
}
.glyphicon-calendar:before{
	color: #5bc0de;	
}
.glyphicon-time:before{
	color: #5bc0de;	
}
.reqpad{
	padding: 6px 23% !important;
}
.reqpadlong{
	padding: 6px 8% !important;
}
.form-horizontal .has-feedback .form-control-feedback{
	right:73%;
}
.longadd{
	right:89% !important;
}
.input-group-addon{
	background-color: #FFF;
    border: 1px solid #FFF;
}
.badge {
	color: #999;
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a{
	/* a The font color in the link */
	color: #fff;
}
ul .active a,ul .active2 a{
	background-color: #55bbde !important;
	color: #fff;
}
.navbar-default{
	background-color: #FFF;
    border-color: #FFF;
}
hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid rgba(38, 41, 39, 0.08);
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.tdclass{
  font-size: 15px;  
	text-align: center;
	color: #3399CD;	
	border-top: none !important;	
}
.thclass{	
	text-align: center;
	background-color:#3399CD;
	color: #fff;
	border-top: none !important;	
}
.tds{
	color:#ddd;
}
.popover.right>.arrow:after{
	left: 3px;/*Right triangle width*/
}

.selectdown{
	color: #3399CB;
	font-style:italic;
}
.warningfont::before{
	font-family: Glyphicons Halflings; 
}
.warningfont{
	color:red;
	font-weight:bold;
	font-style:italic; 
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif ; 
} 

.resetfcolor{
	color: #04bcf1;
	text-align: left !important;
	padding-left: 0px;
	font-weight: 200;
}


.navcss {
		min-height: 40px;
}
.navcss ul {
	list-style: none;
	display: inline-table;
	padding-top: 5px;
	margin-left: -10px;
}
.navcss ul li {
	display: inline;
}
.navcss ul li a {
	display: block;
	float: left;
	min-height: 40px;
	min-width: 120px;
	background: #ddd;
	text-align: center;
	padding: 10px 10px 0 10px;
	position: relative;
	margin: 0 45px 0 0; 
	font-size: 15px;
	text-decoration: none;
	color: #fff;
}

.navcss ul li a:after {
	content: "";
	border-top: 20px solid #ddd;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #ddd;
	border-right: 20px solid transparent;
	position: absolute; right: -40px; top: 0;
	z-index: 1;
}

.navcss ul li a:before {
	content: "";
	border-top: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid #ddd;
	border-right: 20px solid #ddd;
	position: absolute; left: -40px; top: 0;
} 
.navcss ul li:first-child a:before {
	display: none; 
}
.active a:before,.active2 a:before {
	border-bottom: 20px solid #55bbde !important;
	border-right: 20px solid #55bbde !important;
} 
.active a:after,.active2 a:after {
	border-top: 20px solid #55bbde !important;
	border-left: 20px solid #55bbde !important;
} 
.spanStyle{
  color: #777;
  font-weight: bold;
  font-size: 16px;
}
.timestyle{
    padding-top: 0px !important;
}
.hcss{
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
}
.ctrBtn{
    width:160px;
    text-align:left;
}
.floattd{
    border-top: 0px !important;
}
.textpad{
    text-align: left !important;
    padding-left: 0;
}
.fieldlab{
    text-align: left !important;
    padding-left:15px;
}
.textcte{
    text-align:center !important;
}
.labhint{
    text-align:left !important;
    margin-top:-20px;
    margin-bottom:15px;
}
.bodyresetcolor{
  background-color:#fff !important;
  height: 100%;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.guidet{
  min-width: 1200px;
}
.breadcrumb {
    padding: 8px 15px;    
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
.footers{
   position:fixed;
   bottom:20px;
   height:35px;
}
label{
    color: #a9a9a9;
}
#addcm{
   background-color:#3399cb;
}
#three{
   background-color:#3399cb;
}
#loadt{
   background-color:#3399cb;
}
#addlaasir{
  background-color:#3399cb;
}
#savetn{
  background-color:#3399cb;
}
#four{
  background-color:#3399cb;
}
#proDt{
  background-color:#3399cd !important;
}
#liOne{
  color: #a9a9a9;
}
.pcss{
  color:#a9a9a9;
  font-size: 15px;
}
.hColor{
  color:#777;
}
#scrollbody{
    margin-left: 170px;
}

/*finPool css start*/
#finPoolTable  td, th {
	border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: bold;
	
			
}
#finPoolTable   th {
	color:#808080;
				
}


#finPoolTable {
width:80%; 
text-align: center;
background-color: white;
}



/*finPool css end*/
.finPoolPage-pool {
	position: relative;
	top: 75px;
	background-color : white;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	padding-top:30px;
	padding-bottom:30px;			
}

.finPoolPage-details {
	position: relative;
	top: 75px;
	background-color : white;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;				
}

hr.lineStyle {
border-top: 2px solid #87CEEB;
}

#parallelogram {
    position: relative;
    bottom: 40px;
	left: 180px;
	width: 0;
	height: 0;
	border-top: 30px solid #87CEEB;
	border-right: 30px solid transparent;
	
	
}
#parallelogramTitle {
background-color:#87CEEB;
width:180px;
height:30px;
color:white;
text-align:center;
font-size:15px;
padding-top:3px;
}
.parallelogramRight {
position: relative;
bottom: 75px;
text-align:right;
font-size:15px;
color:#87CEEB;
font-weight: bold; 
}

.poolSelected {
    background-color: #87CEEB;
    color: white;
}

.poolNotSelected #selectedRowBlue{
background-color: white;
    color: #7EAED2;
}

.poolNotSelected #selectedRowBlack{
background-color: white;
    color: #A9A9A9;
}

.box{
	width:100px;
	height:100px;
}
