<div id="header" class="container">
	<nav class="navbar">
		<div class="container-fluid">
		
		<h1 class="admin-header">
			<span>{{'createIPO.IPO'|translate}} > </span><span><a ui-sref="maintenance">{{'createIPO.IPOMaintenance'|translate}}<a></span><span class="admin-header-selected"> > {{'createIPO.IPOMaster'|translate}}</span>
		</h1>
		
		</div>
	</nav>
</div>
<br>
<div class="container-fluid page-margin ">			
		<!--Information Bar-->
		<div class="row">
			  <div class="col-sm-12" >
			  <hr style="margin-top: 5px;">
			  <h4 ng-show="true">{{'createIPO.NewIPOMasterRecord'|translate}}</h4>
			  <h4 ng-show="false">{{'createIPO.ModifyIPOMaster'|translate}}</h4>
			  <hr style="margin-top: 10px;margin-bottom: 10px">
			  </div>
			 <div class="col-sm-12" style="padding-left: 0px">
			  <div class="col-sm-1"style="margin:0px ;height:30px">
					<h4  style="margin-top:0px; margin-bottom:0px">{{'createIPO.Draft'|translate}}</h4>					
			  </div>
			  <div class="col-sm-7" style="height:30px">
					<div class="progress" style="margin-bottom: 10px">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-aluemax="100" style="width: 40% " min-width: 20px>
					   40% {{'createIPO.Completeness'|translate}}
					  </div>
					</div>		
			  </div>
			  <div class="col-sm-4"><span ng-class="getMinute(currentIPO.marginCloseTime)"></span>
					<p class="text-center">{{'createIPO.Lastmodifiedby'|translate}} <strong>Aimer Chau</strong> {{'createIPO.on'|translate}} <strong>{{getCurrentDate()}}</strong> {{'createIPO.at'|translate}} <strong>{{theTime}}</strong></p>					
			  </div>
			 </div>
		</div><hr style="margin-top:0px">
		
			
		<div class="row">
			<!-- Floating Panel start-->			  
			<div class="col-sm-2" style="float:left;position:fixed;bottom:10%;">
			  	<table class="table" >						
				<tbody>					 
				  	<tr ng-if = "showAccRej(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-success" style="width:160px;text-align: left"><span class="glyphicon glyphicon-ok"></span>&nbsp;  {{'createIPO.Accept'|translate}}</button></td>				   
				  	</tr>
				  <tr ng-if = "showAccRej(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn-ribbon" style="width:160px;text-align: left"><span class="glyphicon glyphicon-remove"></span>&nbsp;  {{'createIPO.Reject'|translate}}</button></td>					
				  </tr>
				  <tr ng-if = "showBack(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-ryellow" style="width:160px;text-align: left"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;  {{'createIPO.Back'|translate}}</button></td>			
				  </tr>
				  <tr ng-if = "showEdit(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-info" style="width:160px;text-align: left"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;  {{'createIPO.Edit'|translate}}</button></td>			
				  </tr>
				  <tr ng-if = "showSSDPR(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-info" style="width:160px;text-align: left"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;  {{'createIPO.SaveDraft'|translate}}</button></td>			
				  </tr>
				  <tr ng-if = "showSSDPR(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-primary" style="width:160px;text-align: left"><span class="glyphicon glyphicon-send"></span>&nbsp;  {{'createIPO.Submit'|translate}}</button></td>				
				  </tr>
				  <tr ng-if = "showSSDPR(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-danger" style="width:160px;text-align: left"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;  {{'createIPO.Delete'|translate}}</button></td>	
				  </tr>
				  <tr ng-if = "showSSDPR(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-warning" style="width:160px;text-align: left"><span class="glyphicon glyphicon-tower"></span>&nbsp;  {{'createIPO.Postpone'|translate}}</button></td>			
				  </tr>
				  <tr ng-if = "showSSDPR(machker,vemode)">
					<td style="border-top: 0px"><button type="button" class="btn btn-warning" style="width:160px;text-align: left"><span class="glyphicon glyphicon-repeat"></span>&nbsp;  {{'createIPO.Resume'|translate}}</button></td>				
				  </tr>		  
				</tbody>
				</table>	  
			</div><!-- Floating Panel end-->
			
			<!--Record details panel start-->
			<div class="col-sm-12">
			<nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#"></a>
		        </div>
		        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
		          <ul class="nav navbar-nav">         	          	
		            <li><a id="abasic" href="javascript:document.getElementById('basic').scrollIntoView()"><div id="abasicdiv"><span class="badge">1</span> {{'createIPO.BasicInformation'|translate}} -0%</div></a></li>
    				<li><a id="afee" href="javascript:document.getElementById('fee').scrollIntoView()" ><div id="afeediv"><span class="badge">2</span> {{'createIPO.FeeandCharges'|translate}} -0%</div></a></li>
    				<li><a id="aquantity" href="javascript:document.getElementById('quantity').scrollIntoView()"><div id="aquantitydiv"><span class="badge">3</span> {{'createIPO.Quantity/AmountTable'|translate}} -0%</div></a></li>
    				<li><a id="afinancing" href="javascript:document.getElementById('financing').scrollIntoView()"><div id="afinancingdiv"><span class="badge">4</span> {{'createIPO.Financing'|translate}} -0%</div></a></li>
		          </ul>
		        </div>
		      </div>
		    </nav>			
				<div id="scrollbody" class="scrollspy-example " data-spy="scroll" data-target="#navbar-example" data-offset="0"style="position: relative">							
				<form class="form-horizontal" role="form" style="height:450px;overflow-x: hidden"name="createipoForm" novalidate>			
					<div class="form-group" id="basic">
					    <label for="StockCode" class="col-sm-5 control-label">{{'createIPO.StockCode'|translate}}</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="StockCode" name="StockCode" placeholder="(Required)" ng-blur="StockCode = stockCodeFormat(StockCode)" ng-model="StockCode"ng-disabled="disableFields(machker,vemode)" required>
					    <span class="glyphicon glyphicon-warning-sign" style="color:red" ng-show="createipoForm.StockCode.$dirty && createipoForm.StockCode.$invalid">
						<span ng-show="createipoForm.StockCode.$error.required">Stock Code is required</span>
						<span ng-show="checkerNum(StockCode)">Stock Code is need digital</span></span>
					    </div>					    
					</div>
					<div class="form-group">
					    <label for="EnglishStockName" class="col-sm-5 control-label">{{'createIPO.EnglishStockName'|translate}}</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control " id="EnglishStockName" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="TranditionalChineseName" class="col-sm-5 control-label">{{'createIPO.TranditionalChineseName'|translate}}</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="TranditionalChineseName" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="SimplifiedChineseName" class="col-sm-5 control-label">Simplified Chinese Name</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="SimplifiedChineseName" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="NumberofOfferShares/UnitunderGlobalOffering" class="col-sm-5 control-label">Number of Offer Shares / Unit under Global Offering</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="NumberofOfferShares/UnitunderGlobalOffering" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="NumberofPublicOfferShares/Unit" class="col-sm-5 control-label">Number of Public Offer Shares/Unit</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="NumberofPublicOfferShares/Unit" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group" >
					    <label for="StockCurrency" class="col-sm-5 control-label">Stock Currency</label>
					    <div class="col-sm-2">							
							<select class="form-control " ng-disabled="disableFields(machker,vemode)" >
								<option value=""  style="text-align:center">HKD</option>
								<option value=""  style="text-align:center">CHD</option>
								<option value=""  style="text-align:center">HSD</option> 
							</select>		  		
					    </div>
					</div>
					<div class="form-group">
					    <label for="OfferPriceRangeStart" class="col-sm-5 control-label">Offer Price Range</label>
					    <div class="col-sm-2">
					      <input type="text" class="form-control col-sm-2" id="OfferPriceRangeStart" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)">
					    </div>
					    <label for="OfferPriceRangeEnd" class="col-sm-1 control-label" style="text-align:center"> · </label>
					    <div class="col-sm-2">
					    <input type="text" class="form-control col-sm-2" id="OfferPriceRangeEnd" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="BroadLot" class="col-sm-5 control-label">Broad Lot</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="BroadLot" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="NominalValue" class="col-sm-5 control-label">Nominal Value</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control " id="NominalValue" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback">
					    <label for="OnlineIPOStartDate" class="col-sm-5 control-label">Online IPO Start Date</label>
					    <div class="col-sm-2">					      
						    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
						    <input type="text" class="form-control reqpad" id="OnlineIPOStartDate" placeholder="(Required)" ng-disabled="disableFields(machker,vemode)"> 
					    </div>
					    <label for="OnlineIPOStartTime" class="col-sm-1" style="text-align:center">Time</label>
					    <div class="col-sm-2">
						  <span class="glyphicon glyphicon-time form-control-feedback"></span>
					      <input type="text" class="form-control reqpad" id="OnlineIPOStartTime" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					   </div>
					</div>
					<div class="form-group has-feedback">
					    <label for="OnlineIPOEndDate" class="col-sm-5 control-label">Online IPO End Date</label>
					    <div class="col-sm-2">
						  <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
					      <input type="text" class="form-control reqpad" id="OnlineIPOEndDate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					    <label for="OnlineIPOEndTime" class="col-sm-1" style="text-align:center">Time</label>
					    <div class="col-sm-2">
						  <span class="glyphicon glyphicon-time form-control-feedback"></span>
					      <input type="text" class="form-control reqpad" id="OnlineIPOEndTime" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback">
					    <label for="IPOClosingDate" class="col-sm-5 control-label">IPO Closing Date</label>
					    <div class="col-sm-2" >
						  <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
					      <input type="text" class="form-control reqpad" id="IPOClosingDate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>					    
					    <label for="IPOClosingTime" class="col-sm-1" style="text-align:center">Time</label>
					    <div class="col-sm-2">
						  <span class="glyphicon glyphicon-time form-control-feedback"></span>
					      <input type="text" class="form-control reqpad" id="IPOClosingTime" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback">
					    <label for="PriceFixingDate" class="col-sm-5 control-label">Price Fixing Date</label>
					    <div class="col-sm-5">
					      <span class="glyphicon glyphicon-calendar form-control-feedback longadd"></span>
					      <input type="text" class="form-control reqpadlong" id="PriceFixingDate" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback">
					   <label for="ResultAnnouncementDate" class="col-sm-5 control-label">Result Announcement Date</label>
					    <div class="col-sm-5">
						  <span class="glyphicon glyphicon-calendar form-control-feedback longadd"></span>
					      <input type="text" class="form-control reqpadlong" id="ResultAnnouncementDate" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback">
					    <label for="DispatchofSharesandRefundDate" class="col-sm-5 control-label">Dispatch of Shares and Refund Date</label>
					    <div class="col-sm-5">
						  <span class="glyphicon glyphicon-calendar form-control-feedback longadd"></span>
					      <input type="text" class="form-control reqpadlong" id="DispatchofSharesandRefundDate" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback">
					    <label for="ListingDate" class="col-sm-5 control-label">Listing Date</label>
					    <div class="col-sm-5">
						  <span class="glyphicon glyphicon-calendar form-control-feedback longadd"></span>
					      <input type="text" class="form-control reqpadlong" id="ListingDate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="FinalOfferPrice" class="col-sm-5 control-label">Final Offer Price</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="FinalOfferPrice" ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group">
					    <label for="Prospectuses(English)URL" class="col-sm-5 control-label">Prospectuses(English) URL</label>
					    <div class="col-sm-5">
					      <input type="url" class="form-control" id="Prospectuses(English)URL" ng-disabled="0">
					    </div>
					</div>
					<div class="form-group">
					    <label for="Prospectuses(TranditionalChinese)URL" class="col-sm-5 control-label">Prospectuses(Tranditional Chinese) URL</label>
					    <div class="col-sm-5">
					      <input type="url" class="form-control" id="Prospectuses(TranditionalChinese)URL" ng-disabled="0">
					    </div>
					</div>
					<div class="form-group" >
					    <label for="Prospectuses(SimplifiedChinese)URL" class="col-sm-5 control-label">Prospectuses(Simplified Chinese) URL</label>
					    <div class="col-sm-5">
					      <input type="url" class="form-control" id="Prospectuses(SimplifiedChinese)URL" ng-disabled="0">
					    </div>
					</div>
					<div class="form-group">
					    <label for="RemarkforExternal" class="col-sm-5 control-label">Remark for External</label>	    
					    <div class="col-sm-5 ">								      
					      <textarea class="form-control" id="RemarkforExternal" rows="3"ng-disabled="disableFields(machker,vemode)"></textarea>
					    </div>
					</div>
					<div class="form-group">								  
					    <label for="RemarkforInternal" class="col-sm-5 control-label">Remark for Internal</label>	   
					    <div class="col-sm-5 ">								      
					      <textarea class="form-control" id="RemarkforInternal" rows="3" ng-disabled="{{!vemode}}"></textarea>
					    </div>								    
					</div>
					<div class="form-group " id="fee" name = "fee">
					    <label for="CommissionRate" class="col-sm-5 control-label">Commission Rate</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="CommissionRate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon ">%</span>
					    </div>
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="LevyRate" class="col-sm-5 control-label">Levy Rate</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="LevyRate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon">%</span>
					    </div>
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="TradingFeeRate" class="col-sm-5 control-label">Trading Fee Rate</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="TradingFeeRate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon">%</span>
					    </div>
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="InvestorCompensationLevyRate" class="col-sm-5 control-label">Investor Compensation Levy Rate</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="InvestorCompensationLevyRate" ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon">%</span>
					    </div>
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="ClientRebateRate" class="col-sm-5 control-label">Client Rebate Rate</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="ClientRebateRate" ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon">%</span>
					    </div>
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="CurrencyofHandingFee" class="col-sm-5 control-label">Currency of Handing Fee</label>
					    <div class="col-sm-2 ">					    
						<select class="form-control "ng-disabled="disableFields(machker,vemode)">
								<option value=""  style="text-align:center">HKD</option>
								<option value=""  style="text-align:center">CHD</option>
								<option value=""  style="text-align:center">HSD</option> 
						</select>
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="HandingFee" class="col-sm-5 control-label">Handing Fee</label>  
					    <div class="col-sm-2 ">					    						    
					    <input type="text" class="form-control" id="HandingFee" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">				    
					    </div>							    
					</div>
					<div class="form-group">
					    <label for="FinancingHandingFee" class="col-sm-5 control-label">Financing Handing Fee</label>  
					    <div class="col-sm-2 ">					    							    
					    <input type="text" class="form-control" id="FinancingHandingFee" ng-disabled="disableFields(machker,vemode)">					    
					    </div>							    
					</div>

					<!--  4.2.5.5	Quantity/Amount Table -->
					<div class="form-group" id="quantity" >
						<div class="table-responsive col-sm-offset-2 col-sm-5"style="height:32px;padding-right: 0px;overflow:hidden" >
							<table class="table table-hover table-condensed" >
								<thead>
						    		<th class="thclass" style="width:40%">Range </th>
						    		<th class="thclass" style="width:25%">Quantity</th>
						    		<th class="thclass" style="width:25%">Amount</th>
						    		<th class="thclass" style="width:10%"></th>						    		
						    	</thead>
							</table>
						</div>
						<div class="table-responsive col-sm-offset-2 col-sm-5"style="height:300px;padding-right: 0px;" >
						    <table class="table table-hover table-condensed" >						    	
						    	<tbody>						    		
						    		<tr ng-repeat="x in nosvapTable">
						    			<td class="tdclass" style="width:40%" ng-if="x.del">{{x.range}}</td>
						    			<td class="tdclass" style="width:40%" ng-if="x.del==false"></td>
						    			<td class="tdclass" style="width:25%">{{x.qty}}</td>
						    			<td class="tdclass" style="width:25%">{{x.amt}}</td>
						    			<td class="tdclass" style="width:10%"ng-if="x.del"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    	</tbody>
						    </table>
						</div>						
				      	<div class="popover right "  style="display:block;border:2px solid #12d6f6;height:300px;width:32%; float:left;margin-left:30px;position:relative;max-width:none;"ng-show="showSSDPR(machker,vemode)">
							<div class="arrow" style="border-right-color:#12d6f6;"></div>	      
						    <div class="row">	
						    	<label for="QuantityFrom" class="col-sm-offset-1 col-sm-5 control-label" style="
								text-align: left; padding-left:15px">Quantity From</label>
								<label for="QuantityTo" class="col-sm-6 control-label" style="
								text-align: left; padding-left:15px">Quantity To(inclusive)</label>
						    </div>
						    <div class="row">	
						    	<div class=" col-sm-offset-1 col-sm-5 ">					    							    
							    <input type="text" class="form-control" id="QuantityFrom" placeholder="(Required)">					    
							    </div>
								<div class="col-sm-5 ">					    							    
							    <input type="text" class="form-control" id="QuantityTo" placeholder="(Required)">					    
							    </div>
						    </div>
						    <div class="row">	
						    	<label for="Interval" class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px">Interval</label>
								<div class="col-sm-offset-1 col-sm-5">					    							    
							    <input type="text" class="form-control" id="Interval" placeholder="(Required)">					    
							    </div>
						    </div>
						    <div class="row">	
						    	<label for="CalculationMethod" class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px">Calculation Method</label>
								<div class="col-sm-offset-1 col-sm-10">		    		
							    <select class="form-control selectdown"id="CalculationMethod">
								<option value="RLSUA"  style="text-align:center">Round Lump Sum Amount</option>
								<option value="RBIC"  style="text-align:center">Round By Individual Charge</option>
								<option value="BOUCARLSUA"  style="text-align:center">Base On Unit Cost and Round Lump Sum Amount</option>
								<option value="BOUCARBIC"  style="text-align:center">Base On Unit Cost and Round by Individual Charge</option>  
								</select>		    
							    </div>
						    </div>
							<div style="height:60px;"></div>
						    <div class="row">	
						    	<label  class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px"><button id="addcm" type="button" class="btn btn-info" style="width:80px;"ng-click="quantityAmountTableAdd()">Add</button></label>								
						    </div>

						</div>
						<div class="table-responsive col-sm-offset-2 col-sm-5"style="height:45px;padding-right: 0px;overflow:hidden" >
						<table class="table  table-condensed" >
							<tr><td class="tdclass" colspan="3" align="center"><button id="three" type="button" class="btn btn-info" style="width:100px;"ng-click="removeqatableAll()"ng-show="showSSDPR(machker,vemode)">Remove All</button></td></tr>
						</table>
						</div>
					</div>						

					<!-- 4.2.5.5	Quantity/Amount Table start-->
					<div class="form-group" id="financing">
						<div class="col-sm-offset-4 col-sm-1">
					      	<div class="checkbox"style="float:right" id="ProvideIPOfinancing">
					        <label><!-- ng-disabled="disableFields(machker,vemode)" -->
					          	<input type="checkbox"  ng-model="showbelow" ng-init="showbelow = false">
					        </label>
					     	</div>
					    </div>				      
					    <div class="col-sm-5 ">	
					    	<label for="ProvideIPOfinancing" class="col-sm-5 control-label" style="
							text-align: left; padding-left: 0">Provide IPO financing</label>
					    </div>
					</div>
					<div class="form-group has-feedback" ng-if="showbelow">
					    <label for="FinancingStartDate" class="col-sm-5 control-label">Financing Start Date</label>
					    <div class="col-sm-2">
						  <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
						  <input type="text" class="form-control reqpad" id="FinancingStartDate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					    <label for="FinancingStartTime" class="col-sm-1" style="text-align:center">Time</label>
					    <div class="col-sm-2">
						  <span class="glyphicon glyphicon-time form-control-feedback"></span>
					      <input type="text" class="form-control reqpad" id="FinancingStartTime" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group has-feedback"ng-if="showbelow">
					    <label for="FinancingEndDate" class="col-sm-5 control-label">Financing End Date</label>
					    <div class="col-sm-2">
						    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
						    <input type="text" class="form-control reqpad" id="FinancingEndDate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					    <label for="FinancingEndTime" class="col-sm-1" style="text-align:center">Time</label>
					    <div class="col-sm-2">
						   <span class="glyphicon glyphicon-time form-control-feedback"></span>
					       <input type="text" class="form-control reqpad" id="FinancingEndTime" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    </div>
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="InterestDay" class="col-sm-5 control-label">Interest Day</label>  
					    <div class="col-sm-2 ">					    						    
					    <input type="text" class="form-control" id="InterestDay" placeholder="0"ng-disabled="disableFields(machker,vemode)">					    
					    </div>							    
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="MaxLoanAmountperApplication" class="col-sm-5 control-label">Max Loan Amount per Application</label>  
					    <div class="col-sm-5 ">					    							    
					    <input type="text" class="form-control" id="MaxLoanAmountperApplication" ng-disabled="disableFields(machker,vemode)">    
					    </div>							    
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="MinLoanAmountperApplication" class="col-sm-5 control-label">Min Loan Amount per Application</label>  
					    <div class="col-sm-5 ">					    							    
					    <input type="text" class="form-control" id="MinLoanAmountperApplication" ng-disabled="disableFields(machker,vemode)">    
					    </div>							    
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="Minno.ofsharespapliedforIPOLoan" class="col-sm-5 control-label">Min no.of shares paplied for IPO Loan</label>  
					    <div class="col-sm-5 ">					    							    
					    <input type="text" class="form-control" id="Minno.ofsharespapliedforIPOLoan" ng-disabled="disableFields(machker,vemode)">    
					    </div>							    
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="MaxLoanRatio" class="col-sm-5 control-label">Max Loan Ratio</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="MaxLoanRatio" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon">%</span>
					    </div>
					    </div>							    
					</div>
					<div class="form-group"ng-if="showbelow">				    
					    <label for="MustUseMaxLoan" class="col-sm-5 control-label" >Must Use Max Loan</label>   
					    <div class="col-sm-3">
					      <label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" id="MustUseMaxLoanYes" value="yes" ng-disabled="disableFields(machker,vemode)"> Yes
						  </label>
						 <label class="radio-inline">
						     <input type="radio" name="inlineRadioOptions" id="MustUseMaxLoanNo" value="no"ng-disabled="disableFields(machker,vemode)"> No
						 </label>
					    </div>
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="AllowedLoanRatioSelectedby" class="col-sm-5 control-label">Allowed Loan Ratio (Selected by ".")</label>  
					    <div class="col-sm-5 ">					    							    
					    <input type="text" class="form-control" id="AllowedLoanRatioSelectedby" placeholder="(eg.10.20.30.40.50.60.70.80.90)"ng-disabled="disableFields(machker,vemode)">    
					    </div>							    
					</div>
					<div class="form-group"ng-if="showbelow">
					    <label for="BasicInterestRate" class="col-sm-5 control-label">Basic Interest Rate</label>  
					    <div class="col-sm-2 ">	
					    <div class="input-group">							    
					    <input type="text" class="form-control" id="BasicInterestRate" placeholder="(Required)"ng-disabled="disableFields(machker,vemode)">
					    <span class="input-group-addon">%</span>
					    </div>
					    </div>							    
					</div>

					<!-- 4.2.5.5	Quantity/Amount Table -->
					<div class="form-group"ng-if="showbelow">
					    <label for="SpecialInterestRateTable" class="col-sm-offset-2 col-sm-5 control-label"style="text-align:left;">Special Interest Rate Table<span style="color:#55bbde !important;font-style:italic;">(Required)</span></label>							    
					</div>
					<div class="form-group"ng-if="showbelow">
						<div class="table-responsive col-sm-offset-2 col-sm-5"style="height:32px;padding-right: 0px;overflow:hidden" >
						<table class="table table-hover table-condensed" >
							<thead>
					    		<th class="thclass" >Loan Amount Above</th>
					    		<th class="thclass" style="text-align:left;">Interest Rate(% p.a.)</th>		    		
					    		<th class="thclass"></th>					    						    		
						    </thead>
						</table>
						</div>
						<div class="table-responsive col-sm-offset-2 col-sm-5"style="height:300px;padding-right: 0px;" >
						    <table class="table table-hover table-condensed" >						    	
						    	<tbody>
						    		<tr >
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">2000</td>						    			
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr >
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">4000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">6000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">8000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">8000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">8000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">8000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">26000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">26000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>
						    		<tr>
						    			<td class="tdclass">> 10000</td>
						    			<td class="tdclass">26000</td>
						    			<td class="tdclass"><span class="glyphicon glyphicon-remove tds"></span></td>
						    		</tr>						    		
						    	</tbody>
						    </table>
						</div>												
				      	<div class="popover right " style="display:block;border:2px solid #12d6f6;height:300px;width:32%; float:left;margin-left:30px;position:relative;max-width: none;"ng-show="showSSDPR(machker,vemode)">
							<div class="arrow" style="border-right-color:#12d6f6;"></div>	
						    <div class="row">	
						    	<label for="Loadfromtemplates" class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px">Load from templates</label>			
						    </div>
						    <div class="row">	
						    	<div class="col-sm-offset-1  col-sm-7 ">						    
							    <select class="form-control selectdown"id="Loadfromtemplates">
								<option value="RLSUA"  style="text-align:center">Round Lump Sum Amount</option>
								<option value="RBIC"  style="text-align:center">Round By Individual Charge</option>
								<option value="BOUCARLSUA"  style="text-align:center">Base On Unit Cost and </option>
								<option value="BOUCARBIC"  style="text-align:center">Base On Unit Cost and</option>  
								</select>					    
							    </div>
								<div class="col-sm-3 ">					    							    
							    <button id="loadt" type="button" class="btn btn-info" style="width:80px;">Load</button>					    
							    </div>
						    </div>
						    <div class="row">	
						    	<label for="LoadAmountAbove" class="col-sm-offset-1 col-sm-5 control-label" style="
								text-align: left; padding-left:15px">Load Amount Above</label>
								<label for="SpecicalInterestRate" class="col-sm-6 control-label" style="
								text-align: left; padding-left:15px">Specical Interest Rate(p.a)</label>
						    </div>
						    <div class="row">	
						    	<div class="col-sm-offset-1 col-sm-5 ">					    							    
							    <input type="text" class="form-control" id="LoadAmountAbove" placeholder="(Required)">					    
							    </div>
								<div class="col-sm-5 ">					    							    
							    <input type="text" class="form-control" id="SpecicalInterestRate" placeholder="(Required)">					    
							    </div>
						    </div>
						    <div class="row">	
						    	<label  class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px"><button id="addlaasir" type="button" class="btn btn-info" style="width:80px;">Add</button></label>								
						    </div>
						    <div class="row">	
						    	<label for="Saveastemplatewithname" class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px">Save as template with name</label>
								<div class="col-sm-offset-1 col-sm-10">					    							    
							    <input type="text" class="form-control" id="Saveastemplatewithname" >					    
							    </div>
						    </div>
						    <div style="height:20px;"></div>							
						    <div class="row">	
						    	<label  class="col-sm-offset-1 col-sm-8 control-label" style="
								text-align: left; padding-left:15px"><button id="savetn" type="button" class="btn btn-info" style="width:80px;">Save</button></label>								
						    </div>
						</div>
						<div class="table-responsive col-sm-offset-2 col-sm-5"style="height:45px;padding-right: 0px;overflow:hidden;" >
						<table class="table  table-condensed" >
							<tr><td class="tdclass" colspan="3" align="center"><button id="four" type="button" class="btn btn-info" style="width:100px;"ng-disabled="{{machker}}">Remove All</button></td></tr>
						</table>
						</div>
					</div>

					<div class="form-group"style="height:80px;"></div>
							
				</form>								  
			</div>			
			</div><!--Record details panel end-->							 		  
		</div> 		
</div>	

<div class="col-sm-12" style="position:fixed;bottom:5%"><!--  -->

	<ol class="breadcrumb" style="margin:0 auto">
	  	<li><a style="text-decoration:none">Back to</a></li>
	  	<li><a href="javascript:document.getElementById('basic').scrollIntoView()">{{'createIPO.BasicInformation'|translate}}</a></li>
	  	<li><a href="javascript:document.getElementById('fee').scrollIntoView()">{{'createIPO.FeeandCharges'|translate}}</a></li>
	  	<li><a href="javascript:document.getElementById('quantity').scrollIntoView()">{{'createIPO.Quantity/AmountTable'|translate}}</a></li>  	
	  	<li class="active"><a href="javascript:document.getElementById('financing').scrollIntoView()">{{'createIPO.Financing'|translate}}</a></li>
	</ol>
</div>
